{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy"
  ],
  "compact": false,
  "sourceMaps": "inline",
  "env": {
    "test": {
      "plugins": [
        [
          "babel-plugin-webpack-loaders",
          {
            "config": "${CONFIG}",
            "verbose": false
          }
        ]
      ]
    }
  }
}
