{
  "extends": [
    "@sadorlovsky",
    "@sadorlovsky/eslint-config/ava",
    "@sadorlovsky/eslint-config/react"
  ],

  "settings": {
    "import/ignore": ["node_modules", ".(css|sss)$"]
  },

  "rules": {
    "complexity": "off",
    "no-undefined": "off",
    "no-extra-parens": ["error", "functions"]
  }
}
