{
  "extends": [
    "@sadorlovsky",
    "@sadorlovsky/eslint-config/ava",
    "@sadorlovsky/eslint-config/react"
  ],

  "settings": {
    "import/ignore": ["node_modules", ".(css|sss)$"]
  },

  "rules": {
    "complexity": "off"
  }
}
