@import './var.css';

.converter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;

  & input {
    all: initial;
    box-sizing: border-box;
    width: 120px;
    height: 50px;
    border: 4px solid var(--main-color);
    font-size: 1.5rem;
    padding: 5px;
    font-family: 'Montserrat';
  }
}

.swap {
  box-sizing: border-box;
  height: 50px;
  background-color: var(--main-color);
  color: #fff;
  padding: 0 10px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;

  & i {
    transform: translateZ(0);
    backface-visibility: hidden;
    transition: transform .3s ease-in-out;
  }

  &:hover i:first-child {
    transform: translateX(-5px);
  }

  &:hover i:last-child {
    transform: translateX(5px);
  }
}

.from input {
  padding-left: 25px;
}

.to input {
  padding-right: 25px;
}

.from::before, .to::after {
  font-family: FontAwesome;
  content: "";
  position: absolute;
  bottom: 0;
  color: var(--dark-color);
  font-size: 1.3rem;
  height: 50px;
  display: flex;
  align-items: center;
}

.from::before {
  left: 10px;
}

.to::after {
  right: 10px;
}

.from.usd::before, .to.usd::after {
  content: "\f155";
}

.from.eur::before, .to.eur::after {
  content: "\f153";
}

.from.rub::before, .to.rub::after {
  content: "\f158";
}
