.rate
  font-family: 'Montserrat'
  text-align: center
  font-size: 2rem
  background-color: rgba(213, 223, 229, .5)
  display: flex
  align-items: center
  justify-content: center

.rub
  font-size: 1.9rem
