.icon
  background-color: color(#442b48 lightness(30%))
  color: #fff
  display: flex
  align-items: center
  justify-content: center
  height: 100%

.appear
  opacity: 0.01

.appear.appearActive
  opacity: 1
  transition: opacity 1s ease-in

.leave
  opacity: 0.01

.leave.leaveActive
  opacity: 0.01
  transition: opacity 1s ease-in

.enter
  opacity: 0.01

.enter.enterActive
  opacity: 0.01
  transition: opacity 1s ease-in
